/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@600&display=swap');

/* ===== Reset ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== Colors ===== */

:root {
    --bg: #ffffff;
    --surface: #f8fafc;
    --text: #111827;
    --text-light: #6b7280;
    --primary: #2563eb;
    --primary-hover: #1d4ed8;
    --border: #e5e7eb;
    --shadow: 0 10px 30px rgba(0,0,0,.08);
}

/* ===== Base ===== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}

/* ===== Container ===== */

.container {
    width: min(1120px, 90%);
    margin: auto;
}


/* ===== Logo ===== */

.logo {
   /* font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    font-weight: 700;*/
      width:48px;
    height:48px;

    border-radius:14px;

    display:flex;
    align-items:center;
    justify-content:center;

    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    font-weight:700;
}

.logo span {
    color: var(--primary);
}

/* ===== Navigation ===== */

nav {
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    transition: .2s;
    font-weight: 500;
}

/*nav a:hover {
    color: var(--primary);
}*/

nav a.active {
    color: var(--primary);
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: width .3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

nav a {
    position: relative;
}

/* ===== Header ===== */

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    background: color-mix(in srgb, var(--bg) 85%, transparent);

    border-bottom: 1px solid var(--border);

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.menu-toggle{

    display:none;

    border:none;

    background:none;

    font-size:30px;

    cursor:pointer;

}

/* ===== Buttons ===== */

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 12px;

    background: var(--primary);
    color: white;

    transition: .2s;

    font-weight: 600;
}

.btn:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
}

.btn-outline {

    background: white;
    color: var(--primary);
    border: 2px solid var(--primary);

}

.btn-outline:hover {

    color: white;

}

/* ===== Mobile ===== */

@media (max-width: 900px) {

    .menu-toggle{
        display:block;
        color:var(--text);
        background:none;
        border:none;
        font-size:30px;
        cursor:pointer;
        z-index:1002;
    }

    .nav{

        position:fixed;

        top:75px;
        right:-100%;

        width:280px;
        height:calc(100vh - 75px);

        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;

        gap:30px;
        padding-top:40px;

        background:var(--surface);

        box-shadow:-8px 0 25px rgba(0,0,0,.15);

        transition:right .3s ease;

        z-index:1001;
    }

    .nav.active{
        right:0;
    }

    .buttons{
        flex-direction:column;
    }

    .hero h1{
        font-size:52px;
    }

    .hero h2{
        font-size:26px;
    }


.hero-content{
    justify-content: space-between;
    gap: 80px;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
}

.avatar{

    width:420px;
    height:420px;

    object-fit:cover;

    border-radius:24px;

    box-shadow:0 20px 50px rgba(0,0,0,.15);

    transition:.35s;

}

.avatar:hover{

    transform:translateY(-8px);

}
}