/* ===== Hero ===== */

.hero {
    min-height: calc(100vh - 75px);

    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-text {
    max-width: 650px;
}

.hello {
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 34px;
    font-weight: 500;
    color: var(--text-light);
    margin-bottom: 30px;
}

.hero h2 span{
    display:block;
    margin-top:8px;
    font-size:28px;
    color:#2563eb;
}

.description {
    font-size: 20px;
    color: var(--text-light);
    max-width: 600px;
}