/* ===== QA ===== */


.qa{

    padding:100px 0;

    background:var(--surface);

}


.qa-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}


.qa-card{

    background:var(--surface);

    padding:35px;

    border-radius:20px;

    box-shadow:var(--shadow);

    transition:.3s;

}


.qa-card:hover{

    transform:translateY(-8px);

}


.qa-card h3{

    font-size:24px;

    margin-bottom:25px;

}


.qa-card ul{

    list-style:none;

}


.qa-card li{

    padding:10px 0;

    color:var(--text-light);

    border-bottom:1px solid var(--border);

}


.qa-card li:last-child{

    border:none;

}